@font-face {
  font-family: "GT_America_Regular";
  src: url("assets/fonts/GT_America_Regular.woff");
}

@font-face {
  font-family: "GT_America_Light";
  src: url("assets/fonts/GT_America_Light.woff");
}


.index, body {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-auto-rows: auto;
  column-gap: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

#block-1 {
  grid-column-start: 3;
  grid-column-end: 8;
  margin-top: 120px;
  display: inline-block;
}

p.headline {
  font-family: "GT_America_Regular";
  font-size: 1.3rem;
  color: #FFFBFB;
  margin-top: 40px;
}

#oceans {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -99;
}

a {
  color: #D7D1D1;
  text-decoration: none;
}

a:hover {
  opacity: 0;
  transition: 1.4s;
}

.link-item {
  font-size: 1.1rem;
  font-family: "GT_America_Light";
  display: block;
  margin-bottom: 4px;
}

#block-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  display: inline-block;
  margin-top: 120px;
}

#block-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  display: inline-block;
  margin-top: 120px;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    body {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      grid-auto-rows: auto;
      column-gap: 8px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
    }

    #block-1 {
      grid-column-start: 2;
      grid-column-end: 10;
      margin-top: 240px;
      display: inline-block;
    }

    p.headline {
      font-family: "GT_America_Regular";
      font-size: 1.4rem;
      color: #FFFBFB;
      margin-top: 40px;
    }

    #block-2 {
      grid-column-start: 2;
      grid-column-end: 5;
      display: inline-block;
      margin-top: 120px;
    }

    #block-3 {
      grid-column-start: 6;
      grid-column-end: 9;
      display: inline-block;
      margin-top: 120px;
    }

    .link-item {
      font-size: 1.2rem;
      font-family: "GT_America_Light";
      display: block;
      margin-bottom: 4px;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 1) {

    body {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      grid-auto-rows: auto;
      column-gap: 8px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
    }

    #block-1 {
      grid-column-start: 2;
      grid-column-end: 10;
      margin-top: 40px;
      display: inline-block;
    }

    p.headline {
      font-family: "GT_America_Regular";
      font-size: 1.1rem;
      color: #FFFBFB;
      margin-top: 40px;
    }

    #block-2 {
      grid-column-start: 2;
      grid-column-end: 5;
      display: inline-block;
      margin-top: 80px;
    }

    #block-3 {
      grid-column-start: 6;
      grid-column-end: 9;
      display: inline-block;
      margin-top: 80px;
    }

    .link-item {
      font-size: 1rem;
      font-family: "GT_America_Light";
      display: block;
      margin-bottom: 4px;
    }
}
