@font-face {
  font-family: "ABCMonumentGroteskSemi-Mono-Regular";
  src: url("assets/fonts/ABCMonumentGroteskSemi-Mono-Regular.otf");
}

body {
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  column-gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #000000;
}

#text {
  grid-column-start: 1;
  grid-column-end: 7;
  margin-top: 20px;
  max-width: 540px;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  font-family: "ABCMonumentGroteskSemi-Mono-Regular";
  line-height: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
}

.inline {
  font-size: 14px;
  font-family: "ABCMonumentGroteskSemi-Mono-Regular";
  line-height: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.link {
  font-size: 14px;
  font-family: "ABCMonumentGroteskSemi-Mono-Regular";
  line-height: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
  list-style-image: disc;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-indent: cap;
  list-style-position: inside;
}

a:hover {
  color: #FFB81C;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {

  body {
    display: grid;
    grid-template-columns: repeat(6, [col-start] 1fr);
    column-gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #text {
    grid-column-start: 1;
    grid-column-end: 6;
    margin-top: 60px;
    min-width: 180px;
    max-width: none;
  }

  h2 {
    font-size: 12px;
  }

  .inline {
    font-size: 12px;
  }

}

  @media only screen and (min-width: 601px) and (max-width: 750px) {
  
    body {
      display: grid;
      grid-template-columns: repeat(6, [col-start] 1fr);
      column-gap: 20px;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #text {
      grid-column-start: 1;
      grid-column-end: 7;
      margin-top: 20px;
      min-width: 180px;
      max-width: none;
    }
  
}

  @media only screen and (min-width: 751px) {
    
    body {
      display: grid;
      grid-template-columns: repeat(16, [col-start] 1fr);
      column-gap: 20px;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #text {
      grid-column-start: 1;
      grid-column-end: 7;
      margin-top: 20px;
      min-width: 180px;
      max-width: 400px;
    }
  }